.header {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    margin: 10px;
  }

  .footer {
    padding: 20px;
    text-align: center;
    background: black;
    margin-top: 80px;
    font-size: 0.5em;
  }

body {
    text-align:center;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      text-align: center;
    }
  }

  h1 {
    font-size: 1.5em;
    color: white;
}

.button {
    background-color: #f5f5f5;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    outline: none;
  }
  
  .button:hover {
    background-color: #555555;
    color: white;
  }

  .button:active {
    background-color: #555555;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

  }
    .button2 {
        background-color: #ff5252;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #ff8985;
        color: black;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 10px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        font-family: 'Press Start 2P', cursive;
        outline: none;
      }
      
      .button2:hover {
        background-color: #ff3d3d;
        color: white;
      }
    
      .button2:active {
        background-color: #ff1c03;
        box-shadow: 0 5px #ff8c2d;
        transform: translateY(4px);
      }

      .button3 {
        display: inline-block;
        border-radius: 4px;
        background-color: #f5f5f5;
        border: none;
        color: black;
        text-align: center;
        font-size: 18px;
        padding: 20px;
        width: 220px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        font-family: 'Press Start 2P', cursive;
      }
      
      .button3 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button3 span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button3:hover span {
        padding-right: 25px;
      }
      
      .button3:hover span:after {
        opacity: 1;
        right: 0;
      }

      a:link {
        color: green;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:visited {
        color: black;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:hover {
        color: white;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:active {
        color: transparent;
        background-color: transparent;
        text-decoration: none;
      }

      #instructions {
        font-family: 'Open Sans', sans-serif;

      }

      img {
        width: 70%;
        height: auto;
      }

      #logo-container img {
        width: 60%;
        height: auto;
     }
     
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 48%;
  padding: 10px;
  text-align: center;
  /*height: 300px;  Should be removed. Only for demonstration */
}

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
      
     /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #7ea3aa;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
  }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16x;
  background-color: #00aab6;
  color: white;
}

.modal-body {
  
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 10px;
  background-color: #00aab6;
  color: white;
}

/* CSS to striketrhough each song */
/* Remove margins and padding from the list */
#songName {
  margin: 0;
  padding: 0;
}
/* Style the list items */
#songName {
  position: relative;
  padding: 10px 8px 10px 20px;
  list-style-type: none;
  background: rgb(182, 182, 182);
  font-size: 1em;
  transition: 0.2s;
    
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Set all odd list items to a different color (zebra-stripes) */
#songName:nth-child(odd) {
  background: #a0a0a0;
}
/* Darker background-color on hover */
#songName:hover {
  background: rgb(87, 119, 80);
}
/* When clicked on, add a background color and strike out text 
ul li.checked {
  background: #888;
  color: #255e16;
  text-decoration: line-through;*/
}
/* Add a "checked" mark when clicked on 
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #030303;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;*/
}
/* Style the close button 
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 14px 10px 14px;
}
.close:hover {
  background-color: #06b900;
  color: white;
}*/

#myUL {
  width: auto;
  border: 10px solid #828180;
  padding: 10px;
  margin: 10px;
  text-align: left;
}

input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
  background: rgb(87, 119, 80);
}

#myBtn {
  cursor: pointer;
}