---
title: Blue October
layout: album.njk
---

<div class="row">
    <div class="leftcolumn">
      
    <div><img src="https://images.genius.com/faa3c7654bf1cbdeba4bf542fe091be7.640x635x1.jpg" alt="Foiled album cover"></div>

  
</div>

    <div class="rightcolumn">
      
      <ol><br><br>
        <li id="songName">You make me smile</li>
        <li id="songName">She's my ride home</li>
        <li id="songName">Into the Ocean</li>
        <li id="songName">Nights Like That</li>
        <li id="songName">Wooden Decks</li>
        <li id="songName">Game Changer</li>
        <li id="songName">Neon Lights</li>
        <li id="songName">Some Sort of Grace</li>
        <li id="songName">Grand Delusions</li>
        <li id="songName">Where Did I Go</li>
        <li id="songName">Zombie Song</li>
        <li id="songName">Love of Folk</li>
      </ol>
    
      </div>
    </div>