---
title: Welcome. Listen.
layout: base.njk
---



<div class="container">
    <br><br>
    <h1>A website to help you listen to music albums from start to finish.</h1>
    <h2>Make your choice using the buttons below.</h2>
    
  </div>

  <div class="container">
      <br>
  <p><a href="/instructions"><button class="button">Start</button></a></p>
  <p><a href="https://www.youtube.com/watch?v=kffacxfA7G4"><button class="button2">Warning! Don't Press!</button></a></p>
</div>