---
title: Instructions.
layout: base.njk
---



<div class="container">
    <h1>Instructions</h1>
    <h2 id="instructions">Choose an artist:</h2>
    
  </div>

  <p><a href="/shotgunTori"><button class="button3" style="vertical-align:middle"><span>Shotgun Tori </span></button></a></p>
  <p><a href="/perez"><button class="button3" style="vertical-align:middle"><span>Perez </span></button></a></p>
  <p><a href="/silentgenerator"><button class="button3" style="vertical-align:middle"><span>Silent Generator </span></button></a></p>
  <p><a href="/blueoctober"><button class="button3" style="vertical-align:middle"><span>Blue October </span></button></a></p>
  <p><a href="/muse"><button class="button3" style="vertical-align:middle"><span>Muse </span></button></a></p>
  <p><a href="/"><button class="button2">Cancel</button></a></p>