---
title: Instructions.
layout: base.njk
---




    <h1>Instructions</h1>
    <p>
    <div class="grid-container">
    <ul id="instructions">
    <li>Make sure you have at least 20 minutes.</li>
    <li>Find a quiet place.</li>
    <li>Choose an artist below.</li>
    <li>Open your favourite music player (Spotify, Apple Music etc).</li>
    <li>Search for the artist and album you've selected.</li>
    <li>Click on each of the songs while listening along.</li>
    <li>Works best with headphones.</li>
  </ul>
  </div>
</p>

  <div class="grid-container">
  <p><a href="/shotgunTori"><button class="button3" style="vertical-align:middle"><span>Shotgun Tori </span></button></a></p>
  <p><a href="/perez"><button class="button3" style="vertical-align:middle"><span>Perez </span></button></a></p>
  <p><a href="/silentgenerator"><button class="button3" style="vertical-align:middle"><span>Silent Generator </span></button></a></p>
  <p><a href="/blueoctober"><button class="button3" style="vertical-align:middle"><span>Blue October </span></button></a></p>
  <p><a href="/muse"><button class="button3" style="vertical-align:middle"><span>Muse </span></button></a></p>
</div>
  <p><a href="/"><button class="button2">Cancel</button></a></p>
