---
title: Muse
layout: album.njk
---

<div class="row">
    <div class="leftcolumn">
      
    <div><img src="https://i.pinimg.com/474x/aa/99/a0/aa99a09f9de4dd073feba7b2fa259731.jpg" alt="Absolution album cover"></div>

  
</div>

    <div class="rightcolumn">
      
      <ol><br><br>
        <li id="songName">Intro</li>
        <li id="songName">Apocalypse Please</li>
        <li id="songName">Time is Running Out</li>
        <li id="songName">Sing for Absolution</li>
        <li id="songName">Stockholm Syndrome</li>
        <li id="songName">Falling Away with you</li>
        <li id="songName">Interlude</li>
        <li id="songName">Hysteria</li>
        <li id="songName">Blackout</li>
        <li id="songName">Butterflies and Hurricanes</li>
        <li id="songName">The Small Print</li>
        <li id="songName">Endlessly</li>
        <li id="songName">Thoughts of a Dying Atheist</li>
        <li id="songName">Ruled by Secrecy</li>
        <li id="songName">Fury</li>
      </ol>
    
      </div>
    </div>