---
title: Welcome. Listen.
layout: base.njk
---



<div class="container">

  <h1>Shotgun Tori</h1><br>
  <h2>More details coming soon...</h2><br>
  
</div>


<div class="row">
    <div class="leftcolumn">
      
    <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSWqUFuFaJjghR_87T1g-g0pQykJOs4ddevcg&usqp=CAU" alt="Perez album cover"></div>

  
</div>

    <div class="rightcolumn">
      
      <ol><br><br>
        <li id="songName">Brightside</li>
        <li id="songName">Dear John</li>
        <li id="songName">Be Brave</li>
        <li id="songName">Nights Like That</li>
        <li id="songName">Wooden Decks</li>
        <li id="songName">Game Changer</li>
        <li id="songName">Neon Lights</li>
        <li id="songName">Some Sort of Grace</li>
        <li id="songName">Grand Delusions</li>
        <li id="songName">Where Did I Go</li>
        <li id="songName">Zombie Song</li>
        <li id="songName">Love of Folk</li>
      </ol>
    
      </div>
    </div>