---
title: Welcome. Listen.
layout: base.njk
---



<div class="container">

    <h1>Perez.</h1>
    <h2>Make your choice using the buttons below.</h2>
    
  </div>

  <div class="container">
  <p><a href="/instructions"><button class="button">Start</button></a></p>
  <p><a href="/"><button class="button2">Cancel</button></a></p>
</div>