---
title: Perez
layout: album.njk
---


<div class="row">
    <div class="leftcolumn">
      
    <div><img src="https://lh3.googleusercontent.com/proxy/1tE_nlT6_liI7it9pc8ndyoRf6uCOXWAC7hFgNJvOM5yvhSKI2vOdcjRMoYpyfCksC7rrv1So4NKZA9mbBMf-MX8kxQ-PysiL1lLi9DEfyCQkuvGvoXwmmPcVBQ" alt="Perez album cover"></div>

  
</div>

    <div class="rightcolumn">
      
      <ol><br><br>
        <li id="songName">Dreams and Troubles</li>
        <li id="songName">Picture Perfect</li>
        <li id="songName">You</li>
        <li id="songName">Come Down</li>
        <li id="songName">Wasted Out</li>
        <li id="songName">Detour</li>
        <li id="songName">Yellow Lie</li>
        <li id="songName">Marina</li>
        <li id="songName">Breathe Me Down</li>
        <li id="songName">Smells Like Music</li>
        </ol>
    
      </div>
    </div>