---
title: Shotgun Tori
layout: album.njk
---
  
<div class="row">
      <div class="column">
        
      <img src="https://f4.bcbits.com/img/a0601743922_10.jpg" alt="Be Brave album cover">

      </div>

      <div class="column">
        
        <ul id="myUL">
          <li id="songName"><input type="checkbox" id="tickedSong">
          <label class="strikethrough" id="myBtn">Brightside</label></li>
          <li id="songName"><input type="checkbox" id="tickedSong">
          <label class="strikethrough">Dear John</label></li>
          <li id="songName"><input type="checkbox" id="tickedSong">
          <label class="strikethrough">Be Brave</label></li>
          <li id="songName"><input type="checkbox" id="tickedSong">
          <label class="strikethrough">Nights Like These</label></li>
          <li id="songName"><input type="checkbox" id="tickedSong">
          <label class="strikethrough">Wooden Decks</label></li>
          <li id="songName"><input type="checkbox" id="tickedSong">
          <label class="strikethrough">Game Changer</label></li>
          <li id="songName"><input type="checkbox" id="tickedSong">
          <label class="strikethrough">Neon Lights</label></li>
          <li id="songName"><input type="checkbox" id="tickedSong">
          <label class="strikethrough">Some Sort of Grace</label></li>
          <li id="songName"><input type="checkbox" id="tickedSong">
          <label class="strikethrough">Grand Delusions</label></li>
          <li id="songName"><input type="checkbox" id="tickedSong">
          <label class="strikethrough">Where Did I Go</label></li>
          <li id="songName"><input type="checkbox" id="tickedSong">
          <label class="strikethrough">Zombie Song</label></li>
          <li id="songName"><input type="checkbox" id="tickedSong">
          <label class="strikethrough">Love of Folk</label></li>
        </ul>
      
        </div>
      </div>

<p>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Brightside</h2>
    </div>
    <div class="modal-body">
      <p>Am I just a voice? Am I just a face?
        Cause I'm not the woman you want in your space
        Gratified you don't lie, or pretend that you care
        Cause I'm just a woman who wasn't prepared<br><br>
        
        For being alone, or how long that would last
        And when I met you I thought that that time had past<br><br>
        
        You're just another knot in a long string of heartache
        I got my hopes up and you carried me down
        Think I'll stay down here at least for a moment
        And look on the brightside when I stand up there's nobody keeping me tied.<br><br>
        
        Perhaps it's bravado that lets me breath in
        After a punch in the gut, your fist in my skin
        Your words like a hymn, that I sing to myself
        They tear through my skin, it's how I pay for my sins.<br><br>
        
        I've heard it before and I'll hear it again
        You think that I'm rad but you'd rather hear me sing.<br><br>
        
        You're just another knot in a long string of heartache
        I got my hopes up and you carried me down
        Think I'll stay down here at least for a moment
        And look on the brightside when I stand up there's nobody keeping me tied.<br></p>
     
    </div>
    <div class="modal-footer">
      <h3>Close and move to next song</h3>
    </div>
  </div>

</div></p>
   
